<div class="card">
    <div class="card-header d-flex justify-content-between algin-items-center">
        <h2>{{image.title}}</h2>
    </div>
    <div class="card-body p-2">
        <div class="text-center">
        <img src="/public/upload/{{image.filename}}" alt="{{image.title}}" class="img-fluid">
    </div>
</div>