<div class="card">
    <div class="card-header bg-dark text-white d-flex align-items-center">
<h5><i class="far fa-chart-bar"></i> Estadísticas Globales</h5>
    </div>
    <div class="card-body">
        <p><i class="fas fa-image"></i> Posts: {{sidebar.stats.images}}</p>
        <p><i class="fas fa-comment"></i> Comentarios: {{sidebar.stats.comments}}</p>
        <p><i class="fas fa-eye"></i> Vistas: {{sidebar.stats.views}}</p>
        <p><i class="fas fa-heart"></i> Me gustas: {{sidebar.stats.likes}}</p>
    </div>
</div>